@model IEnumerable<Lab1Football.Models.Club>

@{
    ViewData["Title"] = "Клуби";
}

<h1>Клуби</h1>

<p>
    <a asp-action="Create">Додати новий клуб</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Headcoach)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Headcoach.Name)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Деталі</a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id"> Змінити </a> 
                        <a asp-action="Delete" asp-route-id="@item.Id">❌</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>


<div class="container">
    <div id="chart2"></div>
</div>
@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            $.get('/api/Chart/JsonDataClubs', function (Data) {
                var data = new google.visualization.arrayToDataTable(Data);
                var formatter = new google.visualization.NumberFormat({ pattern: '###' });
                formatter.format(data, 1);
                var options = {
                    chart: {
                        title: 'Club',
                        subtitle: 'Number of players'
                    },
                    bars: 'horizontal'
                };
                var chart = new google.charts.Bar(document.getElementById('chart2'));
                chart.draw(data, google.charts.Bar.convertOptions(options));
            });
        }
    </script>
}